# Installation backups
install-backup

# Don't track vim plugins files inside bundle folder
vim/bundle/*
# But do track Vundle itself, which is a submodule here
!vim/bundle/Vundle.vim

# These folders are needed for Vim functionalities but
# we really don't want to track what is inside them
vim/backup/*
vim/swap/*
vim/undo/*

# These are files with private information
zsh/private.zsh
git/user.inc

# Every file named .gitkeep should be tracked, even if
# it's inside an folder where everything is ignored.
# For this reason, this must be the last entry of the list
!.gitkeep
